@import "./variables";
@import "./mixins";
@import "../components/App/App";
@import "../components/ColorView/ColorView";
@import "../components/PaletteView/PaletteView";
@import "../components/ColorGenerator/ColorGenerator";
@import "../components/Color/Color";
@import "../components/Palette/Palette";
@import "../components/PaletteColor/PaletteColor";

*,
*::before,
*::after {
  box-sizing: border-box
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  line-height: 1.4;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}