.ColorGenerator {
	display: grid;
	grid-template-columns: 2fr 1fr;
  height: 475px;

  & button {
    padding: 0;
  }
}

.ColorGenerator-colors {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 400px;
	grid-template-rows: 400px 25px;
	grid-row-gap: 20px;
	border-radius: 50px;
}

.ColorGenerator-form {
	padding-left: 25px;

	& label {
		display: block;
		margin-bottom: 5px;
	}
}

.ColorGenerator-form-container {
	margin-bottom: 25px;
}

.ColorGenerator-form-input,
.ColorGenerator-button {
	@include input-style;
}