.App {
	max-width: 1400px;
	margin: auto;
	padding: 0 25px;

	& hr {
    border: 0;
		border-top: 2px solid $border-grey;
		margin-bottom: 25px;
	}
}

select {
	@include input-style;
	background-color: white;
	&.palette-view-select {
		width: 300px;
	}
}
