.App {
	max-width: 1400px;
	margin: auto;
	padding: 0 25px;

	& hr {
		border: 0;
		border-top: 2px solid $border-grey;
		margin-bottom: 25px;
	}
}

select {
	@include input-style;
	background-color: white;
	&.palette-view-select {
		min-width: 250px;
		max-width: 250px;
	}
}

label {
	margin-top: 15px;
}
img {
	width: 25px;
}
button {
	background: white;
	transition: background 0.5;
}
button:hover {
	background: rgb(241, 241, 241);
	border: 1px solid rgb(217, 217, 217);
	transition: border 0.5;
}
