.Palette {
	width: 200px;
	height: 325px;
	border: 1px solid $border-grey;
	border-radius: 3%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	color: $main-font;

	&:hover {
		box-shadow: 0 0 3px $shadow-grey;
		transition: transform .15s;
		transform: scale(1.05);
	}
}

.Palette-header {
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	cursor: default;
}

.Palette-teardrop-container {
  height: 80%;
  padding-top: 15px;
}

.Palette-title {
	margin: 5px 0 0 0;
	text-align: center;
}

.Palette-button-container {
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.Palette-button {
	cursor: pointer;
	border-radius: 3px;
	transition: background-color .1s;
	padding: 3px;
	&:hover {
		background-color: lighten($shadow-grey, 12.5%);
	}
}
